<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="loginpage.css">
  </head>


<body>
    <section>
        <div class="header">
            <div class="logo">
                <h1>Login page</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">login</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Films</a></li>
                    <li><a href="#">Actors</a></li>
                </ul>
            </nav>
        </div>
    </section>

</body>    
  
</html>

<!-- {% for film_like in film_likes %}
<P>{{film_like.film}}</P>
{% endfor %} -->


{% for user_like in user_likes %}
<p>{{user_like.film}}</p>
{% endfor %}





